.card {
  border: 1px solid #000;
  box-shadow: 4px 4px 10px darkblue;
  padding: 1em 2em;
  border-radius: 2rem;
}

h1 {
  font-size: 4rem;
  font-weight: normal;
}

.grid {
  display: grid;
  grid-template-columns: 60% auto;
  gap: 2rem;
}

// nusitaikyti i main esanti article

main {
  .art {
    background-color: tomato;
  }
  .art-title {
    font-weight: normal;
  }
  .art-text {
    line-height: 1.5;
    // trecias nestinimo levelis, nerekomenduojama daugiau nei 3
    span {
      background-color: coral;
    }
  }
}

// extend
// atkopijuoja visus stiliu is card
article {
  @extend .card;
  box-shadow: 4px 4px 10px lighten($color: #333, $amount: 50%);
}

// boxes

// flex mixin

@mixin myFlex($gapSize: 1rem, $direction: row, $align: center) {
  display: flex;
  flex-direction: $direction;
  gap: $gapSize;
  justify-content: center;
  align-items: $align;
}

.boxes {
  @include myFlex(2rem);
}

.dezes {
  // elemetai eitu is virsaus zemyn ir butu desineje
  @include myFlex(1rem, column, flex-end);
}

.boxes,
.dezes {
  min-height: 30rem;
  background-color: desaturate($color: tomato, $amount: 40%);
  border: 1px solid #000;
  margin-bottom: 10rem;
}

.box {
  width: 7rem;
  height: 7rem;
  border: 1px solid #000;
  background-color: white;
}
